#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    opacity: 0;
  }
}
@media screen and (min-width: 645px) {
  #no-mobile {
    opacity: 1;
  }
}

@keyframes no_mobile_appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
